.parent{
    display : flex;
    flex-direction: column;
    width:100%;
    height: 100vh;;
    
}

.win{
    display : flex;
    flex-direction: column;
    width:100%;
    border-spacing: 20px;

}
.header{
    text-align: center;
    width:100%;
    background-color: peachpuff;
    padding: 5px;
    align-items: center;
    box-sizing: border-box;
    line-height:10%;
    height: auto;
    border: 3px solid purple;
    
}

h1{
    display:inline-block;
    height:auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: black;
    padding-bottom: 2px;
}

.board{
    color: purple;
    font-size: 50px;
    border-spacing: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.container{

    display : flex;
    justify-content: space-around;
    flex-direction: column;
    /*background-color: palevioletred;*/
    height:100%;
    align-items: center;
    
}


table td{
    border : 3px solid black;
    width : 100px;
    height : 100px;
    background-color: lavender;
    
    
}

h2{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: 25px;
    color: whitesmoke;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    
}

button{
    align-self: center;
    font-size: 30px;
    font-family: cursive;
    background-color: lavenderblush;
    color: purple;
    width: fit-content; 
    border: 2px solid black;  
}

h3{
    
    background-color: lavenderblush;
    border: 2px solid purple;
    font-family: cursive;
    font-size: 25px;
    color: black;
    
}
